<div class="mask" id="container-mask">
    <div class="dialog">
        <div class="dialog-container">
            <img src="../assets/sorry.png" alt="">
            <div class="dialog-text">
                <p class="text-title">抱歉</p>
                <p>当前全部人工客服均已休息，请您明日9:00-17:00前来咨询！ 为给您带来的不便深表歉意！您也可以尝试我们的24小时智能客服自助解决，感谢您的理解~</p>
                <div class="button-container">
                    <button class="cancel-btn" id="maskCancelBtn">取消</button>
                    <button class="confirm-btn" id="maskRobotBtn">智能咨询</button>
                </div>
            </div>
        </div>
    </div>
</div>