<div class="item">
    <% if (hasIcon) { %>
        <% if (icon) { %>
        <img src="<%= icon %>" alt="">
        <% } else { %>
        <img src="../assets/people.png" alt="">
        <% } %>
    <% } else { %>
    <% } %>
    <!--<img src="../assets/logo.png" alt="">-->
    <p><%= title %></p>
</div>