<div class="pop" id="popBox">
    <div class="container">
        <div class="text-container">
            <img src="../assets/cube.png" alt="">
            <div class="text">
                <p>欢迎体验智能客服系统·魔方</p>
                <p>客服热线：4000-800-11111</p>
            </div>
        </div>
        <div class="button-container" >
            <button type="button" class="cancel-btn" id="popCancelBtn" >取消</button>
            <button type="button" class="confirm-btn" id="popConfirmBtn">前往体验</button>
        </div>
    </div>
</div>